* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.first-nav a {
  padding: 5px 10px;
  border-radius: 20px;
}

.active {
  background: rgba(0, 0, 0, 0.1);
}

.first-nav a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

input {
  width: 100%;
  padding: 30px 20px !important;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

/* Label styles */
label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #616161;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 500;
  pointer-events: none;
  transition: 0.3s ease all;
}

/* Shrink the label on focus or when input has text */
input:focus + label,
input:not(:placeholder-shown) + label {
  top: 25px;
  font-size: 14px;
}

.select2-selection--single {
  height: 85px !important;
  display: flex !important;
  border-radius: 10px !important;
  align-items: center;
  margin-bottom: 10px;
}

#select2-state-1l-container {
  font-weight: 500 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  padding: 5px !important;
  border-radius: 5px;
}

.before-dot {
  color: #565656;
  position: relative;
  display: flex; 
  font-weight: 500;
  align-items: center; 
  gap: 10px;
}

.weitere{
  color: #565656;
  font-weight: 500;

}

.before-dot::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #949494;
  border-left: 0px;
  border-radius: 50%;
}

.four-container{
  display: flex;
  margin: 40px 0;
  gap: 10px;
  justify-content: space-between;
}

.four-blocks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.four-blocks img{
  width: 100px;
  object-fit: cover;
  height: 100px;
}

.four-blocks p{
  font-size: 16px;
  font-weight: 500;
  color: #565656;
  text-wrap: wrap;
}

.four-blocks p:hover{
  text-decoration: underline;
}

.wichtige-li{
  display: flex;
   gap: 10px;
   align-items: center;
   padding: 10px;
   margin-right: 20px;
   border-bottom: 1px solid #cdcdcd;
}

.wichtige-li p{
  color: #565656;
  font-weight: 500;
}

.wichtige-li:hover{
  text-decoration: underline;
}

.footer-links{
  border-bottom: 1px solid #cdcdcd;
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.links{
  padding: 7px;
  color: #565656;
  cursor: pointer;
  font-weight: 500;
}

.links:hover{
  text-decoration: underline;
}

.heading{
  font-weight: 700;
  opacity: 90%;
}

.footer-last{
  color: #565656;
  cursor: pointer;
  font-weight: 500;
}

.footer-last:hover{
  text-decoration: underline;
}

.lang-box a{
  width: 100%;
  color: #565656;
  cursor: pointer;
  font-weight: 500;
}

.lang-box div{
  text-align: start;
  padding: 5px 40px;
}

.lang-box div:hover{
  background-color: #eae8e8;
}

.social-links{
  border: 1px solid #565656;
  border-radius: 9999px;
  padding: 2px;
}

.social-links svg{
  width: 20px;
  height: 20px;
  fill: #565656;
}

.social-links:hover{
  background-color: #000;
}

.social-links:hover svg {
  fill: #fff;
}

.select2-results__option{
  font-weight: 500;
    opacity: 80%;
    font-size: 15px;
}

.select2-selection__rendered{
  font-weight: 500;
}

.wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-check {
  height: auto;
  width: 10em
}

.animated-check path {
  fill: none;
  stroke: #0F151B;
  stroke-width: 4;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: draw 1.5s cubic-bezier(0.52, -0.03, 0.51, 0.88) forwards;
  stroke-linecap: round;
  stroke-linejoin: round
}

@keyframes draw {
  to {
      stroke-dashoffset: 0
  }
}

@media (max-width: 640px) {
  input {
    padding: 24px 12px 12px 19px !important;
    font-size: 16px;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 20px;
    font-size: 14px;
  }
  label {
    font-size: 16px;
  }

  .wichtige-li p{
    font-size: 14px;
  }
  .select2-selection--single{
    height: 60px !important;
  }
  .select2-results__option{
    font-weight: 500;
    opacity: 80%;
    font-size: 12px !important;

  }
}
